
.LoginPage {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    height: 100vh;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.LoginPage > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.LoginForm > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginForm > form > button {
    /* align-self: flex-end; */
    padding: 5px;
    margin-top: 20px;
    width:100px;
    background-color: #0f6ce1;
    color: white;
    /* border-radius: 15%; */
    border: none;
}

.LoginField {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 230px;
    
}

.LoginHeader {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.LoginHeader > img {
    height: 60px;
}