.ActionRibbon {
  background-color: #f3f3f3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ActionItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
