@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.Bmail {
  color: #54585d;
  font-family: "Lato", sans-serif;
}

.App {
  font-family: "Lato", sans-serif;
}

h4 {
  margin: 0px;
}
