.Header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #f3f3f3;
    border-bottom: 1px solid;
    border-color: #D5D7D8;
}

.HeaderLogo {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.HeaderLogo > img {
    height: 50px;
}

.Header > h4 {
    /* padding-right: 40px; */
}

