.Compose {
    /* background-color: #f3f3f3; */
    height: 100%;
}

.ComposeHeader {
    display: flex;
    align-items: center;

    
    background-color: #383838;
    color: white;
    height: 40px;
}

.ComposeHeader > h4 {
    padding-left: 20px;
   
}

.ComposeForm {
    background-color: white;
}

input {
    border: none;
    height: 30px;
    width: 90%;
}

.InputField {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 40px;
}

.ContentField {
    padding-left: 20px;
    height: 200px;
}

.ComposeForm > form > button {
    background-color: #0f6Ce1;
    color: white;
    border: none;
    margin-left: 20px;
    height: 30px;
}